body {
    background-image: url(background.jpg);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: #B7912F;
}

#title {
    margin-top: 50px;
    margin-bottom: 20px;
    height: 150px;
    width: 400px;
}

#board {
    height: 360px;
    width: 360px;
    margin: 0 auto;
    border: 10px solid #26282A;
    display: flex;
    flex-wrap: wrap;
}

#board img {
    width: 118px;
    height: 118px;
    border: 1px solid black;
}

h1 {
    color: white;
}

#turns {
    color: #B7912F;
}
